body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.logout-button {
    margin: 10px;
    padding: 10px;
    background-color: #060606;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.add-project,
.project-list,
.add-skills,
.skills-list,
.add-blog,
.blog-list {
    background-color: #f4f4f4;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

form {
    display: grid;
    gap: 10px;
    margin-top: 20px;
}

label {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

 a {
    text-decoration: none;
    color: #fff;
    
}

button {
    padding: 10px;
    background-color: #060606;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    background-color: #040404;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="date"] {
    padding: 8px;
}

/* Ajoutez des styles similaires pour les autres formulaires et listes */

/* Media query pour les petits écrans */
@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}
