/* Réinitialisation de la marge et du rembourrage */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style de base */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* En-tête */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.logo h1 {
    font-size: 36px;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin-top: 20px;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #ffd700; /* Couleur jaune - changez selon votre préférence */
}

/* Ajoutez des styles supplémentaires selon vos besoins */
